[docker-ce-stable]
name=Docker CE Stable - $basearch
baseurl=https://{{ docker_ce_repo }}/linux/centos/7/$basearch/stable
enabled=1
gpgcheck=1
gpgkey=https://{{ docker_ce_repo }}/linux/centos/gpg


# [docker-main-repo]
# name=Docker main Repository
# baseurl=http://mirrors.aliyun.com/docker-engine/yum/repo/main/centos/7
# enabled=1
# gpgcheck=1
# gpgkey=http://mirrors.aliyun.com/docker-engine/yum/gpg